
<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container footer-container">
        <div class="left"><span class="text">&copy; Tara's Tutoring NJ</span></div>
        <div class="center"><span class="contact">Contact: tarastutoringtt@gmail.com</span></div>
        <div style="clear: both"></div>
    </div>
</footer>
