body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/Images/DNA.jpg");

    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}


.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;

}

h1 {
    color: white;
    font-size: 25px !important;
}

.list {
    color: #00ABE4;
}
