.cover-container{
  width:100% !important;
}
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px; /* Adjust as needed for spacing */
  }

  li:not(:last-child):after {
    content: '\00b7'; /* Unicode character for the middle dot */
    margin-left: 10px; /* Adjust as needed for spacing */
  }

  .image-container {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;

}

.image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

}
