<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tara's Tutoring</title>
  <body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="text-center">
        <link rel="stylesheet" href="/stylesheets/home.css">
  <h1>Welcome to Tara's Tutoring</h1>
  <p>
    <strong>
    <ul class="list">
        <li>algebra I/II</li>
        <li>geometry</li>
        <li>trigonometry</li>
        <li>precalculus</li>
        <li>calculus</li>
        <li>physics</li>
        <li>chemistry</li>
        <li>biology</li>
        <li>biophysics</li>
    </ul>
</strong>
  <a href="/about"  class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">About</a>
  <a href="/contact"  class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Contact</a>
</div>
</div>
</body>
